@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --coffee-brown: #52473C;
    --cream: #FAF8F5;
    --grayish-brown: #746E67;
  }
  html {
    font-family: 'Inter', sans-serif;
  }
}